
<nav>
  <div class="user-info">
    <img class="photo-profile-navbar" src="/img/default.png">
    <p class="name-profile-navbar"><%= user.name%></p>
    <hr>
  </div>
  <div class="menu" id="navbar">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
      <a class="nav-link" v-bind:class="{active: isActive}" aria-current="page" href="/"><span class="number-nav">1</span>Главная</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" v-bind:class="{active: isActive}"  href="/outdoorunderground"><span class="number-nav">2</span>Уличные площадки</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" v-bind:class="{active: isActive}" href="#"><span class="number-nav">3</span>Спортивные секции</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" v-bind:class="{active: isActive}"  href="#"><span class="number-nav">4</span>Новые объекты</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" v-bind:class="{active: isActive}"  href="#"><span class="number-nav">5</span>Доступные карты</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" v-bind:class="{active: isActive}"  href="#"><span class="number-nav">6</span>Сохраненные</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" v-bind:class="{active: isActive}"  href="/test/testpagemap"><span class="number-nav">7</span>TEST</a>
        </li>
      <hr>
      <li class="nav-item">
        <a class="nav-link" v-bind:class="{active: isActive}"  href="#">
          <img class="image-nav" src="/img/icons/settings.png">Настройки</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" v-bind:class="{active: isActive}"  href="/auth/logout">
            <img class="image-nav" src="/img/icons/logout.png">Выйти</a>
      </li>
    </ul>
  </div>
</nav>
<script>
  var navbar = new Vue({
    el: "#navbar",
    data: {
      isActive: false
    }
  })
</script>






























<!--
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Спортивная карта</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/contacts">Контакты</a>
          </li>
          <% if(loggedIn) { %>
            <li class="nav-item">
              <a class="nav-link active" href="/auth/logout">Выйти</a>
            </li>
          <% } %>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
          <button class="btn" type="submit">Поиск</button>
        </form>
      </div>
    </div>
  </nav>
-->