<!DOCTYPE html>
<html lang="ru">
<%- include('layouts/header'); -%>

<body class="page_login">
    <div class="container-fluid block-login">
        <div class="col-lg-6">
            <div class="page_login__left-block">
                <div class="col-12 block_depsport__logo">
                    <img class="col-1" src="/img/depsport_logo.png">
                    <h6 class="col-12"> Департамент <br> спорта <br>
                        города Москвы</h6>
                </div>
                <div class="col-12 page_login__text-about-block">
                    <h1>
                        Интерактивная карта <br>
                        для размещения спортивной <br>
                        инфраструктуры г. Москвы
                    </h1>
                </div>
                <div class="page_login__footer-block">
                    <img class="img-footer-block" src="/img/dashboard.png">
                    <img class="img-footer-block" src="/img/pencil.png">
                </div>
            </div>
        </div>
        <div class="col-lg-6 part-login">
            <div class="page_login__right-block-login">
                <h4 class="right-block__text-login">Вход</h4>
                <form action="/users/login" method="POST">
                    <input type="text" class="input_login-page"
                             placeholder="Логин (Телефон, СНИЛС, email)"
                                id="username" name="username">
                    <input type="password" class="input_login-page" 
                            placeholder="Введите пароль"
                                id="password" name="password">
                    <button type="submit" class="button-login">Войти</button>
                </form>
                <a href="#" class="forgot-password">Не можете войти?</a>
            </div>
        </div>
    </div>


</body>
</html>