<!DOCTYPE html>
<html lang="ru">
<%- include('layouts/header'); -%>

<body>

    <style type="text/css">
        html, body, #map {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #my-listbox {
            top: auto;
            left: auto;
        }

        #log {
            width: 200px;
            height: 100px;
            position: absolute;
            left: 5px;
            bottom: 5px;
            opacity: 0.7;
            padding: 5px;
            font-family: Courier, sans-serif;
            font-size: 14px;
            background: white;
            overflow: auto;
        }
    </style>

    <div class="updates">
        <h6>Добро пожаловать на страницу с графиками. Вышло новое обновление фильтрации. Более детальная аналатики по категориям</h6>
    <h6><a href="#">ОЗНАКОМИТЬСЯ</a></h6>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-6 col-xs-8">
                <%- include('layouts/navbar'); -%>
            </div>
            <div id="app" class="col-xl-8 col-lg-6 col-md-10 col-xs-12 maps-test">
                <div class="block-filters">
                    <div class="row">
                        <div class="col-lg-4">
                            <form class="d-flex">
                                <h6 class="text-for-filter">Наименование<br>спортивного объекта {{m</h6>
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            </form>
                        </div>
                        <div class="col-lg-4">
                            <form class="d-flex">
                                <h6 class="text-for-filter">Ведомственная<br>принадлежность</h6>
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            </form>
                        </div>
                        <div class="col-lg-4">
                            <form class="d-flex">
                                <h6 class="text-for-filter">Спортивные<br>зоны</h6>
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            </form>
                        </div>
                        <div class="col-lg-4">
                            <form class="d-flex">
                                <h6 class="text-for-filter">Наименование <br>спортивного объекта</h6>
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            </form>
                        </div>
                        <div class="col-lg-4">
                            <form class="d-flex">
                                <h6 class="text-for-filter">Рейтинг <br>площадки</h6>
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            </form>
                        </div>
                        <div class="col-lg-4">
                            <form class="d-flex">
                                <h6 class="text-for-filter">Доступность<br> площадки</h6>
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            </form>
                        </div>
                    </div>
                </div>
                <div id="map" class="yandex-map" style="max-width: 100%; height: 500px"></div>
            </div>
        </div>

        </div>
        
    </div>

        <script>
            var app = new Vue({
        el: '#app',
        data:{
            message: 'test'
        },
    })
        </script>
        <script>
        ymaps.ready(init);

function init() {
    var myMap = new ymaps.Map('map', {
            center: [55.76, 37.64],
            zoom: 10,
            controls: []
        }, {
            searchControlProvider: 'yandex#search'
        }),
        objectManager = new ymaps.ObjectManager({
            // Чтобы метки начали кластеризоваться, выставляем опцию.
            clusterize: true,
            // ObjectManager принимает те же опции, что и кластеризатор.
            gridSize: 64,
            // Макет метки кластера pieChart.
            clusterIconLayout: "default#pieChart"
        });
    myMap.geoObjects.add(objectManager);

    // Создадим 5 пунктов выпадающего списка.
    var listBoxItems = ["Районное", "Окружное", "Шаговая доступность"]
            .map(function (title) {
                return new ymaps.control.ListBoxItem({
                    data: {
                        content: title
                    },
                    state: {
                        selected: true
                    }
                })
            }),
        reducer = function (filters, filter) {
            filters[filter.data.get('content')] = filter.isSelected();
            return filters;
        },
        // Теперь создадим список, содержащий 5 пунктов.
        listBoxControl = new ymaps.control.ListBox({
            data: {
                content: 'Фильтр',
                title: 'Фильтр'
            },
            items: listBoxItems,
            state: {
                // Признак, развернут ли список.
                expanded: true,
                filters: listBoxItems.reduce(reducer, {})
            }
        });
    myMap.controls.add(listBoxControl);

    // Добавим отслеживание изменения признака, выбран ли пункт списка.
    listBoxControl.events.add(['select', 'deselect'], function (e) {
        var listBoxItem = e.get('target');
        var filters = ymaps.util.extend({}, listBoxControl.state.get('filters'));
        filters[listBoxItem.data.get('content')] = listBoxItem.isSelected();
        listBoxControl.state.set('filters', filters);
    });

    var filterMonitor = new ymaps.Monitor(listBoxControl.state);
    filterMonitor.add('filters', function (filters) {
        // Применим фильтр.
        objectManager.setFilter(getFilterFunction(filters));
    });

    function getFilterFunction(categories) {
        return function (obj) {
            var content = obj.properties.balloonContent;
            return categories[content]
        }
    }

    $.ajax({
        url: "data.json"
    }).done(function (data) {
        objectManager.add(data);
    });

}
</script>
<!--
    <script>

    axios.get('test.json')
            .then((response)=> {
                this.objects = response.data.objects;
                for (var i = 0; i < this.objects.length - 10000; i++){
                    document.getElementById('app').innerHTML += '<p>' + `{"type": "Feature", "id": ${JSON.stringify(this.objects[i].id_object).replace(/"/g, '')}, 
                    "geometry": {"type": "Point", "coordinates": ${JSON.stringify(this.objects[i].coordinates).replace(/"/g, '')}},
                    "properties": {"balloonContent": ${JSON.stringify(this.objects[i].available)}, 
                                  "hintContent": ${JSON.stringify(this.objects[i].department_name)}}},` + '</p>';
                }
            })
</script>
-->

<!--
     ymaps.ready(init);
        function init(){    
            var myMap = new ymaps.Map("map", {
                
                center: [55.76, 37.64],
                zoom: 10,
                controls: ['zoomControl', 'searchControl', 'typeSelector',  'fullscreenControl', 'routeButtonControl']
                
            });
            axios.get('data.json')
                .then((response)=> {
                    this.objects = response.data.objects;
                    console.log(this.objects.length)
                    var test = JSON.stringify(this.objects[1].coordinate).replace(/"/g, '');
                    const myGeoObject = new ymaps.GeoObject({
                        test,
                        geometry: {                            type: "Circle", // тип геометрии - точка
                            coordinates: `${test}`,
                            radius: 2500 // координаты точки
                            }
                        });
                        myMap.geoObjects.add(myGeoObject);  
                        console.log(`${test}`)    
                    })
            }
-->
</body>
</html>