<!DOCTYPE html>
<html lang="ru">
<%- include('layouts/header'); -%>

<body>
    
    <h1 class="text-center">Регистрация<br>
        (её не будет).Создана для общего функционала</h1>
    <div class="container">
        <% if(errors != null && errors.length > 0) { %>
            <ul class="list-group"></ul>
                <% for(var i = 0;i < errors.length; i++) { %>
                    <li class="list-group-item list-group-item-danger">
                        <%= errors[i] %>
                    </li>
                <% } %>
            </ul>
        <% } %>
        <form action="/users/register" method="POST" enctype="multipart/form-data">
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Логин</label>
                    <input type="text" class="form-control" placeholder="User Name"
                        id="username" name="username" value="<%= username %>">
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>ФИО</label>
                    <input type="text" class="form-control" placeholder="User Name"
                        id="name" name="name">
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Фото</label>
                    <input type="file" class="form-control" id="image" name="image">
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Пароль</label>
                    <input type="password" class="form-control" placeholder="password"
                        id="password" name="password" value="<%= password %>">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Регистрация</button>
            </div>
        </form>
    </div>

</body>
</html>