@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');
body{
    background: #E5E5E5;
}
.updates{
    height: 45px;
    width: 100%;
    background: #CC2222;
    display: flex;
    justify-content: center;
    align-items: center;
}
.updates h6{
    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13.5373px;
    line-height: 8px;
    letter-spacing: 0.0406118px;
}
.updates a{
    border: 1px solid white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 7px;
    text-align: center;
    letter-spacing: -0.295213px;
    text-transform: uppercase;
    color: #CC2222;
    background: white;
    margin-left: 29px;
    padding: 5px;
    border-radius: 2.25532px;
    text-decoration: none;
}
hr{
    color: solid #a1a1a1;
}
nav{
    border-right: 1px solid #a1a1a1;
    border-bottom: 1px solid #a1a1a1;
    margin-left: -11px;
    height: 100%;
    position: absolute;
    background: #FFFFFF;
}
.photo-profile-navbar{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.user-info img{
    margin-top: 24px;
    font-size: 32px;
    border-radius: 50%;
    border: 1px solid black;
}
.user-info p, .user-info img{
    margin-left: 15px;
}
.user-info p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 30px;
    margin-top: 9px;
    /* or 300% */
    
    letter-spacing: 0.15px;
    
    /* Black / High Emphasis */
    
    color: rgba(0, 0, 0, 0.87);
    
}
.nav-item{
    border-radius: 4px;
    margin-left: 8px;
    margin-right: 18px;
}
.nav-link{
    margin-right: 18px;
}
.nav-item:hover{
    background: #FDE3E3;
}
.active{
    background: #FDE3E3;
    border-radius: 4px;
    margin-left: 8px;
    margin-right: 18px;
}
.number-nav{
    margin-left: 15px;
    background: #333333;
    padding: 7px;
    clip-path: circle(40%);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin-right: 29px;
}
.image-nav{
    width: 18px;
    height: 18px;
    margin-left: 15px;
    margin-right: 29px;
    text-align: center;
}
.nav-item a{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    letter-spacing: 0.1px;
    color: #4F4F4F;
    text-decoration: none;
}
.nav-item a:hover{
    color:#F32121;
}
/* Login page */
.page_login{
    background: linear-gradient(124.08deg, #EE2A2A 12.3%, rgba(255, 57, 57, 0.69) 73.75%) no-repeat;
}
.block-login{
    display: flex;
    height: 100vh;
}
.page_login__left-block{
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding-top: 81px;
    padding-left: 90px;
}
.block_depsport__logo{
    color: white;
    display: flex;
   
}
.page_login__text-about-block h1{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 37.1272px;
    line-height: 49px;
    letter-spacing: 0.126845px;
    color: #FFFFFF;
    float: left;
}
.page_login__footer-block{
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.img-footer-block{
    object-fit: scale-down;
    margin-left: -100px;
}
/*right part login*/

.part-login{
    display: flex;
    align-self: center;
    justify-content: center;
}


.page_login__right-block-login{
    background: #FFFFFF;
    border-radius: 14.3627px;
    width: 346.58px;
    height: 335px;
    padding-left: 39px;
    padding-top: 40px;
}
.right-block__text-login h4{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 21.2903px;
    line-height: 20px;
    /* or 95% */
    letter-spacing: 0.101525px;
    /* Gray 1 */
    color: #333333;
    margin-left: 39px;
}
.input_login-page{
    width: 263.99px;
    height: 44.77px;
    border: 0.771889px solid rgba(130, 130, 130, 0.5);
    box-sizing: border-box;
    border-radius: 2.31567px;
}
.input_login-page:first-child{
    margin-bottom: 15.44px;
    margin-top: 10px;
}
input[placeholder]{
    padding-left: 19.3px;
    color: #828282;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12.3502px;
    line-height: 26px;
    /* or 209% */

letter-spacing: 0.128829px;
}
.button-login{
    margin-top: 21.61px;
    width: 263.99px;
    height: 47.86px;
    background: #333333;
    border-radius: 6.17512px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15.4378px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.128829px;
    color: #F2F2F2;
    margin-bottom: 27.55px;
}
.forgot-password{
    font-size: 12.3502px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.128829px;
    color: #2D9CDB;
    text-decoration: none;
}
.forgot-password:hover{
    color: #1d8ac9;
    text-decoration: none;
}
.dep{
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF)
}

/* index page categories */

.block-categories{
    padding-top: 40px;
}
.block-categories h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 17px;
    letter-spacing: 0.0854125px;
    color: rgba(0, 0, 0, 0.87); 
}
.categories{
    display: flex;
    padding-top: 23px;
    justify-content: space-between;

}
.category{
    padding-top: 23px;
    height: 130px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4.30464px rgba(0, 0, 0, 0.19);
    border-radius: 12.9139px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.category a{
    text-decoration: none;
}
.category h4{
    padding-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12.9139px;
    line-height: 31px;
    color: #4F4F4F;
    mix-blend-mode: normal;
}
.category h4:hover{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12.9139px;
    line-height: 31px;
    mix-blend-mode: normal;
    color: #CC2222;
}
.category:hover{
    height: 130px;
    background: #FFFFFF;
    box-shadow: 0px 0px 13.7748px rgba(0, 0, 0, 0.27);
    border-radius: 12.9139px;
    color: #CC2222;
}
.category .img-category img{
    max-width: 69px;
    max-height: 68px;
}
.img-category{
    display: flex;
    justify-content: center;
    margin: -20px;
}
.block-saved{
    padding-top: 81px;
}
.block-saved h6{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.0854125px;
    color: #4F4F4F;

}
.block-saved__dates{
    display: flex;
}
.block-saved__dates_date{
    display: flex;
    justify-content: center;
    width: 90px;
    height: 29px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 3px;
}
.block-saved__dates_date p{
    padding-top: 3px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.0854125px;
    color: #4F4F4F;
    padding-right: 3px;
}
.block-saved__dates_date .date{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.0854125px;
    text-decoration-line: underline;
    color: #000000;
}
.saved{
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
}


.saved, .categories{
    margin-left: 3px;
}
.map-saved{
    margin-top: 20px;
    margin-right: 20px;
    padding-right: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4.30464px rgba(0, 0, 0, 0.19);
    border-radius: 12.9139px;
    display: flex;
    justify-content: space-between;
}
.img-map-saved{
    padding-right: 10px;
}
.img-map-saved img{
    object-fit: cover;
    border-radius: 5px;
}
.block-about-saved-map h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.87); 
    mix-blend-mode: normal;
    margin-bottom: -5px;
}
.block-about-saved-map h6{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.6); 
    mix-blend-mode: normal;
}
.footer-about-saved-map{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.footer-about-saved-map button{
    width: 88px;
    height: 23px;
    background: #EB5757;
    border-radius: 2.51064px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.footer-about-saved-map a{
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    letter-spacing: -0.215426px;
    text-transform: uppercase;
    color: #FFFFFF;  
}
.footer-about-saved-map h6{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: -0.02em;
    color: #828282;
}
@media(max-width: 1600px){
    .category, .map-saved{
        margin-top: 30px;
    }
    .block-about-saved-map h3{
        font-size:14px;
    }
    .main-block{
        padding: 20px;
    }
}
@media(max-width: 750px) {
    nav{
        display: none;
    }
    .category, .map-saved{
        margin-left: -10px;
    }
}


/* MAPS TEST PAGE */
.maps-test{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.block-filters{
    border: 1px solid black;
    background: #FFFFFF;
    border-radius: 7.95146px;
    margin: 20px;
}
.d-flex{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.yandex-map{
    margin-left: 20px;
}
.text-for-filter{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 14px;
/* or 139% */

display: flex;
align-items: center;
letter-spacing: 0.131006px;

/* Gray 1 */

color: #333333;
}